*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-size:1.6rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  /* background-color:grey; */
}
.container{
  height:100vh;
  /* background-color:red; */
  display:grid;
  grid-gap:100px;
  grid-template-columns: .3fr 3fr 2fr .3fr;
  grid-template-areas: 
  "... form users ...";
}
.form__container{
  grid-area:form;
  display:flex;
  flex-direction:column;
}
input{
  box-shadow: none; 
  border:1px solid rgb(95, 178, 246);
  border-radius:5px;
  margin-bottom:10%;
  padding:5px;
  outline:none;
  line-height:1.5rem;
  width:60%;

}
button{
  background-color: rgb(83, 148, 200);
  border:1px solid rgb(95, 178, 246);
  border-radius: 8px;
  color:rgb(253, 253, 253);
  font-weight:800;
  padding:3%;
  width:40%;
}
.term_text{
  font-size:.7rem;
}
label{
  font-weight:800;
  margin-bottom:3%;
}
label:first-of-type{
  margin-top:5%;
}
.users{
  grid-area:users;
}
.checkbox{
  font-size:1rem;
  margin:10% 0 10%;
  position:relative;
}
.checkbox input{
  display:none;
}
.checkmark{
  border:2px solid rgb(95, 178, 246);
  border-radius:5px;
  height:35px;
  width:35px;
  position:absolute;
    right:60%;
    top:-5px;
  
}
.checkmark::after{
  border:solid rgb(83, 148, 200);
  border-width: 0 3px 3px 0;
  content:"";
  display:none;
  height:18px;
  width:10px;
  position:absolute;
    left:9px;
    top:3px;
  transform:rotate(45deg);
}
input:checked ~ .checkmark:after{
  display:block;
}
.term__container{
  border:solid 1px rgb(83, 148, 200);
  border-radius:5px;
  padding:3%;
  text-align:center;
}
.term__container h3{
  font-size:1rem;
  margin-bottom:1%;
}